################################
####### Globals ################
################################

# keep statefiles in the local storage directories
SyncState *

#################################
######## Account gmail ##########
#################################

IMAPAccount      gmail
Host             imap.gmail.com
User             {{ gmail_user }}
Pass             {{ gmail_password }}
UseIMAPS         yes

# remote storage
IMAPStore  gmail-remote
Account    gmail

# local storage
MaildirStore  gmail-local
Path          ~/.mail/gmail/
Inbox         ~/.mail/gmail/INBOX

# INBOX channel
Channel gmail-inbox
Master :gmail-remote:"INBOX"
Slave :gmail-local:INBOX
Create Both
Expunge Both
#Create Slave
#Expunge Slave

# sent channel
Channel gmail-sent
Master :gmail-remote:"[Gmail]/Sent Mail"
Slave :gmail-local:sent
Create Both
Expunge Both

# all channel
Channel gmail-all
Master :gmail-remote:"[Gmail]/All Mail"
Slave :gmail-local:all
Create Both
Expunge Slave

# starred channel
Channel gmail-starred
Master :gmail-remote:"[Gmail]/Starred"
Slave :gmail-local:starred
Create Both
Expunge Both

# trash channel
Channel gmail-trash
Master :gmail-remote:"[Gmail]/Trash"
Slave :gmail-local:trash
Create Both
Expunge Both

# drafts channel
Channel gmail-drafts
Master :gmail-remote:"[Gmail]/Drafts"
Slave :gmail-local:drafts
Create Both
Expunge Both

# group them
Group gmail
Channel gmail-inbox
Channel gmail-sent
Channel gmail-all
Channel gmail-starred
Channel gmail-trash
Channel gmail-drafts
