# weechat
roles/weechat/files/weechat_crash*
roles/weechat/files/weechat.log
roles/weechat/files/relay.conf
roles/weechat/files/urlserver_list.txt
roles/weechat/files/script/plugins.xml.gz

# vim
.netrwhist
vim/.vim/bundle/*

# ansible
*.retry
group_vars/*.yml
!group_vars/all.yml
host_vars/*.yml
