# weechat
roles/weechat/files/config/weechat_crash*
roles/weechat/files/config/weechat.log
roles/weechat/files/config/relay.conf
roles/weechat/files/config/urlserver_list.txt
roles/weechat/files/config/plugins.xml.gz

# vim
.netrwhist
vim/.vim/bundle/*

# ansible
*.retry
group_vars/*.yml
!group_vars/all.yml
host_vars/*.yml

# python
__pycache__
