{
	admin 0.0.0.0:2019 {
		origins 10.100.100.2 10.100.100.4
	}
}

prometheus.xsfx.dev {
	reverse_proxy prometheus:9090
	tls {
		dns hetzner {env.HETZNER_API_TOKEN}
	}
}

alertmanager.xsfx.dev {
	reverse_proxy alertmanager:9093
	tls {
		dns hetzner {env.HETZNER_API_TOKEN}
	}
}

# karma.xsfx.dev {
# 	reverse_proxy karma:8080
# 	tls {
# 		dns hetzner {env.HETZNER_API_TOKEN}
# 	}
# }
# 
# grafana.xsfx.dev {
# 	reverse_proxy grafana:3000
# 	tls {
# 		dns hetzner {env.HETZNER_API_TOKEN}
# 	}
# }
